.topbar-brand img{
    max-height: 30px;
}

.header{
    padding: 200px 100px;
}

.card{
    border-radius: 4px ;
}

.job-opening-card:hover .card {
    background: var(--main-color);
    border-color: var(--main-color);
}

.job-opening-card:hover .card h5, .job-opening-card:hover .card .text-info {
    color: #fff !important;
}

.job-opening-card .card .text-info {
    color: var(--main-color) !important;
}

.job-filters .btn-outline.btn-info.active, .job-filters .btn-outline.btn-info:hover {
    background: var(--main-color);
    border-color: var(--main-color);
    color: #ffffff;
}

.job-filters .btn-outline.btn-info{
    color: var(--main-color);
    border-color: var(--main-color);
}

.topbar-right .btn-primary{
    background: var(--main-color);
    border-color: var(--main-color);
}

.theme-color{
    color: var(--main-color) !important;
}

.theme-background{
    background: var(--main-color) !important;
}

.btn.theme-background, .btn.theme-background:hover{
    background: var(--main-color) !important;
    border-color: var(--main-color) !important;
}

.sidebar{
    padding: 0 20px;
}

.select-file{
    padding: 15px;
    border-radius: 4px;
    border: 1px solid #c9d7df;
    cursor: pointer;
}

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline,
.has-error.radio label,
.has-error.checkbox label,
.has-error.radio-inline label,
.has-error.checkbox-inline label {
    color: #ee1127;
}

.company-title{
    margin-bottom: 0.5rem;
}

a.applyWithLinkedin {
    display: block;
    text-align: center;
}

/*Begin front->job-openings*/
.section-heading h2 {
	position: relative;
	display: inline-block; 
}

.section-heading h2:before, .section-heading h2:after {
	content: "";
	position: absolute;
	bottom: 0;
	height: 2px;
	background: #28a745;
	left: 0;
	-webkit-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}

.section-heading h2:before {
	width: 100px;
	bottom: -10px;
	left: 50%;
}

.section-heading h2:after {
	width: 80px;
	bottom: -20px;
	left: 50%;
}

.section-heading.text-left h2:before, .section-heading.text-left h2:after {
	left: 0;
	-webkit-transform: translateX(0%);
	-ms-transform: translateX(0%);
	transform: translateX(0%);
}

.rounded {
	border-radius: 0.25rem!important;
}

.border {
	border: 1px solid #dee2e6!important;
}

.jobs-wrap .job-item.fulltime {
	border-left: 3px solid #26baee;
}

.jobs-wrap .job-item {
	display: block;
	color: rgba(0, 0, 0, 0.5);
	background: #fff;
	position: relative;
	z-index: 1;
}

.align-items-center {
	-webkit-box-align: center!important;
	-ms-flex-align: center!important;
	align-items: center!important;
}

.jobs-wrap .job-item .job-category {
	-webkit-box-flex: 0;
	-ms-flex: 0 0 150px;
	flex: 0 0 150px;
	text-align: center;
}

.align-self-center {
	-ms-flex-item-align: center!important;
	align-self: center!important;
}

.jobs-wrap .job-item .job-details {
	width: 100%;
	text-align: left;
}

.jobs-wrap .job-item .job-details {
	width: calc(100% - 10%);
}
/*End front->job-openings*/

/*Begin custom*/
.site-footer {
	background-color:#0a92cf;
}

.site-footer div {
	color:#ffffff;
}

#jobCategories {
	cursor:pointer;
}

#jobCategories img {
	width:350px;
	height:200px;
}

#jobs img {
	width:50px;
}

#jobLeftDays {
	left:150px;
}
/*End custom*/
