* {box-sizing: border-box;}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cairo', sans-serif;
    color: $mainColor;
    a {
        color: $mainColor;
        transition: 0.2s ease-in-out;
        &:hover {text-decoration: none;}
    }
    .btn:focus,
    .form-control:focus {
        box-shadow: none;
    }
    ul {
        margin: 0;
        padding: 0;
        li {
            list-style: none;
        }
    }
}

.btn.btn-main {
    background-color: $mainColor;
    border-color: $mainColor;
    color: #fff;
    transition: 0.2s ease-in-out;
    &:hover {
        background-color: $orangeColor;
        border-color: $orangeColor;
        color: $mainColor;
    }
}

.container-fluid.container-control {
    @media screen and (min-width: 1280px) {
        max-width: 1300px !important;
    }
    @media screen and (min-width: 1480px) {
        max-width: 1400px !important;
    }
}

// social-media
ul.social-media {
    position: absolute;
    top: 50%;
    right: 2rem;
    transform: translateY(-50%);
    z-index: 9;
    li:not(:last-child) {
        margin-bottom: 10px;
    }
    a {
        &:hover {
            svg .path {
                fill: $orangeColor;
            }
        }
    }
    @media screen and (max-width: 767px) {
        display: none;
    }
}

// section-head
.section-head {
    position: relative;
    text-align: center;
    font-size: 23px;
    margin-bottom: 2rem;
    .text {
        position: relative;
        font-weight: 600;
        &::before {
            content: '';
            position: absolute;
            top: 2px;
            left: -20px;
            width: 6px;
            height: 41px;
            background-color: $orangeColor;
        }
        p {
            display: inline-block;
            &::first-letter {
                color: $orangeColor;
                text-transform: uppercase;
            }
        }
    }
    
}

// breadcrumb
.page-breadcrumb {
    position: relative;
    overflow: hidden;
    background: url(../images/single-job-head.png) center center no-repeat;
    background-size: cover;
    .breadcrumb {
        background-color: transparent;
        padding: 1.75rem 1rem !important;
        .breadcrumb-item {
            color: #fff;
            a {
                color: #fff;
                font-size: 0.875rem;
                &:hover {
                    color: $orangeColor;
                }
            }
            &.active {
                color: $orangeColor;
                font-size: 0.875rem;
            }
        }
        .breadcrumb-item+.breadcrumb-item::before {
            content: url(../images/breat-arrow.svg);
            position: relative;
            top: 5px;
        }
    }
}

// Latest jobs card
.latest-jobs-container {
    max-height: 420px;
    padding-top: 5px !important;
    overflow-y: auto;
    @media screen and (max-width: 991px) {
        max-height: 425px;
    }
    @media screen and (max-width: 780px) {
        max-height: 440px;
    }
    @media screen and (max-width: 480px) {
        overflow-y: hidden;
        overflow-x: auto;
        max-height: 480px;
        display: flex;
    }
    .latest-job-card {
        padding: 1rem;
        border: 1px solid $mainColor;
        border-radius: 0 30px 30px 0;
        transition: 0.3s ease-in-out;
        margin-bottom: 1rem;
        margin-right: 1rem;
        margin-left: 1rem;
        @media screen and (max-width: 991px) {
            margin-right: 1rem;
            margin-left: 0;
        }
        @media screen and (max-width: 700px) {
            text-align: center;
            &>.row>div {
                width: 100%;
                flex: 0 0 100%;
                max-width: 100%;
            }
        }
        @media screen and (max-width: 500px) {
            border-radius: 10px;
            p {margin-top: 10px;}
            .date-more-container {
                flex-direction: row !important;
                justify-content: space-between;
                align-items: center;
                margin-top: 10px;
            }
        }
        @media screen and (max-width: 480px) {
            width: 300px;
            &>.row {
                width: 300px !important;
            }
        }
        &:hover {
            background-color: $mainColor;
            color: #fff;
            svg path,
            .more path {
                fill: #fff;
            }
        }
        .title {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 1rem;
        }
        .section {color: $orangeColor;}
        .id, .date {
            color: #989A9A;
        }
        p {
            line-height: 1.8;
            text-align: center;
        }
    }
}

// Custom Checkbox
.control {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    margin-bottom: 0;
  }
  .control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
  }
  .control-indicator {
    position: relative;
    height: 28px;
    width: 28px;
    border: 1px solid $mainColor;
  }
 
  .control input:checked ~ .control-indicator {
    background:  $mainColor;
  }
  .control:hover input:not([disabled]):checked ~ .control-indicator,
  .control input:checked:focus ~ .control-indicator {
    background:  $mainColor;
  }
  .control input:disabled ~ .control-indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
  }
  .control-indicator:after {
    content: '';
    position: absolute;
    display: none;
  }
  .control input:checked ~ .control-indicator:after {
    display: block;
  }
  .control-checkbox .control-indicator:after {
    left: 8px;
    top: 4px;
    width: 10px;
    height: 15px;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
  }

